<!DOCTYPE html>
<html>
<head>
    <title>數學運算</title>
</head>
<body>
    <h1>簡單數學運算</h1>
    <form action="/math" method="post">
        請輸入 x：<input type="number" name="x" required><br><br>
        
        請選擇運算符：
        <select name="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select><br><br>
        
        請輸入 y：<input type="number" name="y" required><br><br>
        
        <button type="submit">計算</button>
    </form>
    <hr>
    <a href="/">回到網站首頁</a>
</body>
</html>